<div class="name-field">
  <% @user = current_user %>
  <%= form_for([@user, @user.premium_transactions.new]) do |f| %>
    <%= f.text_field :premium %>
    <%= f.submit "Customize!" %>

    <%= f.hidden_field :product_id, value: @user.id %>
    <%= f.hidden_field :price, value: '0' %>
    <%= f.hidden_field :total, value: 0 %>
  <% end %>
</div>
