
<div class="profile_background">
<div class="row">

  <div class="col-md-4">

  </div>

   <div class="col-md-4 profile">


     <br>
     <br>
     <div class="center">
       <%= image_tag (@user.avatar? ? @user.avatar.url(:medium) : avatar_url(@user)), class: "user-avatar-full"%>
     </div>
     <br>
     <br>
     <h2 class="profile_user_fullname"><%= @user.fullname %></h2>
     <p class="profile_user_description"><%= @user.description %></p>
     <p class="profile_user_description"><%= @user.interest %></p>

     <p class="profile_user_code"><%= @user.code%></p>
   <%= link_to 'New', new_user_gallery_path(current_user), :class => 'btn btn-mini' %>


     <p class="profile_icons_title"><strong class="profile">Trails:</strong></p>
     <div class="user_profile_icon">

       <i class="fa fa-facebook" aria-hidden="true"></i>
       <i class="fa fa-github" aria-hidden="true"></i>
       <i class="fa fa-google-plus" aria-hidden="true"></i>
       <i class="fa fa-twitter" aria-hidden="true"></i>
       <i class="fa fa-twitch" aria-hidden="true"></i>
       <i class="fa fa-rebel" aria-hidden="true"></i>
       <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
       <i class="fa fa-youtube" aria-hidden="true"></i>
       <i class="fa fa-tripadvisor" aria-hidden="true"></i>
       <i class="fa fa-linkedin" aria-hidden="true"></i>
       <i class="fa fa-instagram" aria-hidden="true"></i>

       <% if current_user != @user %>
        <div class="row-space-2">

          <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: "post", class: "btn btn-primary-profile wide" %>
        </div>
      <% end %>

     </div>
  


   <div class="col-md-4">


   </div>


   </div>
 </div>
 </div>
