<div class="profile_background">

  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4 profile">

      <br>
      <br>
      <div class="center">
        <%= image_tag (@user.avatar? ? @user.avatar.url(:medium) : avatar_url(@user)), class: 'avatar-large' %>
      </div>
      <h2 class="profile_user_fullname"><%= @user.fullname %></h2>
      <p class="profile_user_description"><%= @user.description %></p>
      <p class="profile_user_description"><%= @user.interest %></p>
      <p class="profile_user_code"><%= @user.code%></p>

      <% if user_signed_in? %>
        <% if @user.id == current_user.id && @user.gallery.nil?%>
          <%= link_to 'New', new_user_gallery_path(current_user), :class => 'btn btn-mini' %>
        <% elsif @user.gallery %>
          <%= link_to 'View',user_gallery_path(@user, @user.gallery), :class => 'btn btn-mini' %>
        <% end %>

        <% if current_user != @user %>
        <br>
          <div class="row-space-2">
            <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: "post", class: "btn btn-primary-profile wide" %>
          </div>
          <br>
        <% end %>
      <%end%>

      <p class="profile_icons_title"><strong class="profile">Trails:</strong></p>
      <div class="user_profile_icon">

        <% if @user.facebook != nil && @user.facebook != "" %>
          <a class="icon-default" target="_blank" href=<%= @user.facebook %>><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <% end %>
        <% if @user.twitter != nil && @user.twitter != "" %>
          <a class="icon-default" target="_blank" href=<%= @user.twitter %>><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <% end %>
        <% if @user.instagram != nil && @user.instagram != ""%>
          <a class="icon-default" target="_blank" href=<%= @user.instagram %>><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <% end %>
        <% if @user.linkedin != nil && @user.linkedin != ""%>
          <a class="icon-default" target="_blank" href=<%= @user.linkedin %>><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <% end %>
        <% if @user.snapchat != nil && @user.snapchat != ""%>
          <a class="icon-default" target="_blank" href=<%= @user.snapchat %>><i class="fa fa-snapchat" aria-hidden="true"></i></a>
        <% end %>
        <% if @user.github != nil && @user.github != ""%>
          <a class="icon-default" target="_blank" href=<%= @user.github %>><i class="fa fa-github" aria-hidden="true"></i></a>
        <% end %>
        <% if @user.youtube != nil && @user.youtube != ""%>
          <a class="icon-default" target="_blank" href=<%= @user.youtube %>><i class="fa fa-youtube" aria-hidden="true"></i></a>
        <% end %>
        <% if @user.google != nil && @user.google != ""%>
          <a class="icon-default" target="_blank" href=<%= @user.google %>><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        <% end %>
        <% if @user.twitch != nil && @user.twitch != ""%>
          <a class="icon-default" target="_blank" href=<%= @user.twitch %>><i class="fa fa-twitch" aria-hidden="true"></i></a>
        <% end %>
        <% if @user.tripadvisor != nil && @user.tripadvisor != ""%>
          <a class="icon-default" target="_blank" href=<%= @user.tripadvisor %>><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
        <% end %>
      </div>

      <div class="col-md-4">
      </div>

    </div>
  </div>
</div>
