<div class="bkpic_store">
</div>

<p><%= @code = params[:user] %></p>
<p><%= @code %></p>
<br><br>
<br>
<h1 class="store_header"><span>SHOP TILL YOU LEAVE YOUR TRAIL
</span></h1>


<div class="row">
  <div class="text-center">

  </div>
</div>

<br>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default product">
        <div class="panel-heading preview">
          <%= image_tag product.product_photos[0].image.url(:medium), class: "cover-card img-responsive product" if product.product_photos.length >0 %>
        </div>
        <div class="panel-body product">
          <%= link_to product.product_name, product, class: "product_name"%>
          <div class="pull-right price">$<%= product.price %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
